{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="display-4 text-success text-center">{{ workout.name }}</h1>

    <div class="row">
        <div class="card ">
            <div class="col-12 m-auto">
                <iframe class="mx-auto d-block" width="80%" height="600px" src="{{ workout.video_url }}" allow="fullscreen;">
                </iframe>
                <p class="card-text">{{ workout.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}