{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="display-4 text-success text-center">Workouts</h1>

    <div class="row">
        <div class="col-2">
            <select name="category_list" id="category_list">
                <option value="reset" {% if category == 'all_workouts' %}selected{% endif %}>All Workouts</option>   
                <option value="strength" {% if category == 'strength' %}selected{% endif %}>Stength</option>
                <option value="cardio" {% if category == 'cardio' %}selected{% endif %}>Cardio</option>
                <option value="toning" {% if category == 'toning' %}selected{% endif %}>Toning</option>
                <option value="hiit" {% if category == 'hiit' %}selected{% endif %}>HIIT</option>                        
            </select>
            <a class="btn" href="{% url 'workouts' %}">RESET</a>
        </div>
        <div class="row">
            <div class="card-deck m-auto">
                {% for workout in workouts %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                        <div class="card h-100" > 

                            
                            <div class="card-body">
                                <h5 class="card-title">{{workout.name }}</h5>
                                <!-- <iframe width="100%" height="50%"
                                    src="{{ workout.video_url }}" allow="fullscreen;">
                                </iframe> -->
                                <div>
                                    <a href="{% url 'workout' workout.id %}">
                                        <img src="{{ workout.video_image.url }}" alt="" width="100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}