  
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}



{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <form enctype="multipart/form-data" action="{% url 'edit_profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}                    
                    <h4>Image preview</h4>
                        {% if profile.profile_pic %}
                            <img src="{{ profile.profile_pic.url }}" alt="Profile picture">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="No image">
                        {% endif %}
                    <button class="btn btn-success">Update profile</button>
                </form>
            </div>
        </div>
    </div>
 
{% endblock %}