{% extends "base.html" %}
{% load static %}

{% block content %}   
    <div class="container">
        <h1 class="display-4 text-success">Member Profiles</h1>
        {% for user in profiles %}
            <div class="row member-profile p-4">
                <div class="col-12 col-lg-5">
                    {% if user.profile_pic %}
                        <img src="{{ user.profile_pic.url }}" alt="Profile picture">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="No image" height="200">
                    {% endif %}
                </div>
                <div class="col-12 col-lg-7">
                    <p>Username: {{ user }}</p>                    
                    <span>Name:</span>
                    {{ user.user.first_name|default_if_none:'' }}
                    {{ user.user.last_name|default_if_none:'' }}

                    <p>Age: {{ user.age|default_if_none:'' }}</p>
                    <h4>Fitness Goal</h4>
                    <p>{{ user.goal|default_if_none:'' }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}