  
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Public Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'personal_details' %}">Full Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
            </li>
        </ul>
     
        <div class="card mb-8 my-auto">
            <div class="row g-0">
              <div class="col-md-4">
                {% if profile.profile_pic %}
                    <img src="{{ profile.profile_pic.url }}" alt="Profile picture">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" alt="No image">
                {% endif %}

                  
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                  <p class="card-text">Age: {{ profile.age }}</p>
                  <p class="card-text">Fitness Goal: {{ profile.goal }}</p>
                  {% if profile.membership_fee_due == 0 %}
                    <p class="card-text">Membership Expiry: {{ profile.membership_expiry_date }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div> 
{% endblock %}