  
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Public Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'personal_details' %}">Full Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
            </li>
        </ul>
     
        <div class="card mb-8 my-auto">
          <div class="row g-0">
            <div class="col-md-4">
                <div class="m-2">
              {% if profile.profile_pic %}
                  <img class="" width="100%" src="{{ profile.profile_pic.url }}" alt="Profile picture">
              {% else %}
                  <img src="{{ MEDIA_URL }}noimage.png" width="100%" alt="No image">
              {% endif %}
                </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                  <table id="personal_details">
                      <tr>
                          <td>First Name</td><td>{{ profile.user.first_name|default_if_none:'' }}</td>
                      </tr>
                      <tr>
                          <td>Last Name</td><td>{{ user.last_name|default_if_none:'' }}</td>
                      </tr>
                      <tr>
                          <td>Age</td><td>{{ profile.age|default_if_none:'' }}</td>
                      </tr>
                      <tr>
                          <td>Fitenss Goal</td><td>{{ profile.goal|default_if_none:'' }}</td>
                      </tr>                      
                  </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}