{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="display-4 text-success">Shopping Basket</h1>

    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if basket_items %}
                    {% for item in basket_items %}
                        <span>{{ item.product }}</span>
                    {% endfor %}
                {% else %}
                    <span>Your Basket is empty</span>
                    <a href="{% url 'shop' %}">Back to shop</a>
                {% endif %}
            </div>
            <div class="col-6"></div>
        </div>
    </div>   
{% endblock %}