{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block head_title %}{% trans "Signup NOW" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>
<span>TEST</span>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<div class="container">
<div class="row">
  <div class="col-8">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup_view' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button id="signup_submit" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
</div>

{% endblock %}


