{%  extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <h1 class="display-4 text-success">Shop</h1>

        <form action="GET">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="query"  placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control btn-black" type="submit">Search</button>
                </div>
            </div>
        </form>       

    </div>
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a>
</div>

{% endblock %}