{%  extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <h1 class="display-4 text-success">Shop</h1>

        <form method="GET" action="{% url 'shop' %}">
            <div class="row input-group w-100">
                {% if search_term %}
                    <input class="col-6 form-control border border-black rounded-0" type="text" name="q" value="{{ search_term }}">
                {% else %}
                    <input class="col-6 form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                {% endif %}
                <div class="col-2 input-group-append">
                    <button class="form-control btn-black" type="submit">Search</button>
                </div>

                <div class="col-2">
                    <select name="category_list" id="category_list">
                        <option value="reset" {% if category == 'all_proudcts' %}selected{% endif %}>All Products</option>   
                        <option value="equipment" {% if category == 'equipment' %}selected{% endif %}>Equipment</option>
                        <option value="clothing" {% if category == 'clothing' %}selected{% endif %}>Clothing</option>
                        <option value="accessories" {% if category == 'accessories' %}selected{% endif %}>Accessories</option>
                        <option value="nutrition" {% if category == 'nutrition' %}selected{% endif %}>Nutrition</option>                        
                    </select>
                    <a class="btn" href="{% url 'shop' %}">RESET</a>
                </div>
            </div>
            <div class="">
                <select name="sort_list" id="sort_list">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>
        </form>
        {% if request.user.is_authenticated %}
            <span>SHOP ITEMS</span>       
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="btn">Add Product</a>
            {% endif %}
        {% endif %}

    </div>
    <a class="{% if total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'basket' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if total %}
                    ${{ total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </p>
        </div>
    </a>
</div>

<div class="row">
    <div class="card-deck m-auto">
        {% for product in products %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                <div class="card h-100" > 
                    <!-- Code snippet taken from Code Institute Boutique Ado walk through -->
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" height="322px">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image available">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">£{{ product.price}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn">Add to basket</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock %}